// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";


.btn-primary {
  background-color: #0277EE !important;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: #0e70d1 !important;
  }
}

.navbar-toggler{
  color: #FEFEFA !important;
}

.post-preview a{
    color: #000000de;
    &:hover {
    color: #0277EE;
  }
}

.navbar {
  background-color: #01013D !important; 
}
.nav-link{
  color: #FEFEFA !important;
}

.container{
  height: auto !important;
}

.row{
  margin-top: 40px !important;
}
nav{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 18px;
}

.clearfix a{
  color: #FEFEFA !important;
  text-decoration: none !important;
}