h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #16171A;
}

.col-lg-8 p {
    color: #16171A;
    font-size: 19px;
}
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h3{
    font-size: 28px;
}
h4{
    font-size: 23px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 19px;
}

h1+p,
h2+p,
h3+p {
    margin-top: 0.5rem;
}

pre {
    background: #1e1e1e;
    color: #7efa7a;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 1.5rem 0;
}

pre code {
    background: none;
    color: inherit;
}

.col-lg-8 img {
    width: 700px;
    max-width: 750px;
    margin: 10px 0;
}

.col-lg-8 a {
    color: #0277EE;
    text-decoration: underline;
}

.col-lg-8 a:hover {
    color: #0057B0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  font-family: Arial, sans-serif;
  font-size: 0.95rem;
}

table thead th {
  background-color: #1a73e8; 
  color: white;
  text-align: center;
  padding: 0.75em;
  border-bottom: 2px solid #0d47a1;
}

table tbody td {
  padding: 0.6em 0.75em;
  border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e3f2fd;
}

blockquote {
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;

  border-left: 4px solid #0277EE;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  background: #f9f9f9;

  position: relative;
  border-radius: 8px;
}

blockquote::before {
  content: "“";
  font-size: 3rem;
  color: #0277EE;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "”";
  font-size: 3rem;
  color: #0277EE;
  position: absolute;
  right: 10px;
  bottom: -20px;
}

blockquote p {
  margin: 6px;
}